{{#withSeparateModelsAndApi}}
/* tslint:disable */
/* eslint-disable */

import { send } from "../base"
{{#imports}}
import type { {{classname}} } from "../{{modelPackage}}/{{#lambda.kebabcase}}{{classname}}{{/lambda.kebabcase}}"
{{/imports}}

{{#operations}}
/**
 * {{classname}} - API class
 */
class {{classname}} {
{{#operation}}
{{#allParams.3}}
    /**
     * {{&notes}}
     {{#summary}}
     * @summary {{&summary}}
     {{/summary}}
     */
    public {{nickname}}(arg: { {{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{#isNullable}} | null{{/isNullable}}{{/isEnum}}{{^-last}}, {{/-last}}{{/allParams}} }): Promise<{{{returnType}}}{{^returnType}}void{{/returnType}}> {
        return send({
            url: '{{{path}}}'{{#pathParams}}
                .replace(`{${"{{baseName}}"}}`, encodeURIComponent(String({{paramName}}))){{/pathParams}},
            method: '{{httpMethod}}',
            {{#hasQueryParams}}
            params: {
                {{#queryParams}}
                {{baseName}}: arg.{{paramName}},
                {{/queryParams}}
            },
            {{/hasQueryParams}}
            {{#bodyParam}}
            body: arg.{{#bodyParam}}{{paramName}}{{/bodyParam}},
            {{/bodyParam}}
            {{#hasFormParams}}
            forms: {
                {{#formParams}}
                {{baseName}}: arg.{{paramName}},
                {{/formParams}}
            },
            {{/hasFormParams}}
            {{#headerParams}}
            headers: {
                {{#headerParams}}
                {{baseName}}: arg.{{paramName}},
                {{/headerParams}}
            },
            {{/headerParams}}
        });
    }
{{/allParams.3}}
{{^allParams.3}}
    /**
     * {{&notes}}
     {{#summary}}
     * @summary {{&summary}}
     {{/summary}}
     {{#allParams}}
     * @param {{{dataType}}}{{^required}}?{{/required}} {{paramName}} {{description}}
     {{/allParams}}
     */
    public {{nickname}}({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{#isNullable}} | null{{/isNullable}}{{/isEnum}}{{^-last}}, {{/-last}}{{/allParams}}): Promise<{{{returnType}}}{{^returnType}}void{{/returnType}}> {
        return send({
            url: '{{{path}}}'{{#pathParams}}
                .replace(`{${"{{baseName}}"}}`, encodeURIComponent(String({{paramName}}))){{/pathParams}},
            method: '{{httpMethod}}',
            {{#hasQueryParams}}
            params: {
                {{#queryParams}}
                {{baseName}}: {{paramName}},
                {{/queryParams}}
            },
            {{/hasQueryParams}}
            {{#bodyParam}}
            body: {{#bodyParam}}{{paramName}}{{/bodyParam}},
            {{/bodyParam}}
            {{#hasFormParams}}
            forms: {
                {{#formParams}}
                {{baseName}}: {{paramName}},
                {{/formParams}}
            },
            {{/hasFormParams}}
            {{#headerParams}}
            headers: {
                {{#headerParams}}
                {{baseName}}: {{paramName}},
                {{/headerParams}}
            },
            {{/headerParams}}
        });
    }
{{/allParams.3}}
{{/operation}}
}

/**
 * {{classname}} - instance
 */
export const {{#lambda.camelcase}}{{classname}}{{/lambda.camelcase}} = new {{classname}}();

{{/operations}}{{/withSeparateModelsAndApi}}