{{#withSeparateModelsAndApi}}
/* tslint:disable */
/* eslint-disable */
{{>licenseInfo}}


import { send } from "../base2"
{{#operations}}
  {{#operation}}
    {{#returnType}}
      {{^returnTypeIsPrimitive}}
import type { {{returnType}} } from "../models"
      {{/returnTypeIsPrimitive}}
    {{/returnType}}
    {{#allParams}}
      {{^isPrimitiveType}}
import type { {{dataType}} } from "../models"
      {{/isPrimitiveType}}
    {{/allParams}}
  {{/operation}}
{{/operations}}

{{#operations}}
/**
 * {{classname}} - API class
 */
export class {{classname}} {
{{#operation}}
    /**
     * {{&notes}}
     {{#summary}}
     * @summary {{&summary}}
     {{/summary}}
     {{#allParams}}
     * @param {{{dataType}}}{{^required}}?{{/required}} {{paramName}} {{description}}
     {{/allParams}}
     * DEBUG: baseName={{baseName}}, nickname={{nickname}}, operationId={{operationId}}
     */
    public {{baseName}}({{#allParams}}{{paramName}}{{^required}}?{{/required}}: {{#isEnum}}{{{datatypeWithEnum}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{#isNullable}} | null{{/isNullable}}{{/isEnum}}{{^-last}}, {{/-last}}{{/allParams}}): Promise<{{{returnType}}}{{^returnType}}void{{/returnType}}> {
        return send({
            url: '{{{path}}}'{{#pathParams}}
                {{#pathParams}}
                    .replace(`{${baseName}}`, encodeURIComponent(String({{paramName}})))
                {{/pathParams}}
            {{/pathParams}},
            method: '{{httpMethod}}',
            {{#hasQueryParams}}
            params: {
                {{#queryParams}}
                {{baseName}}: {{paramName}},
                {{/queryParams}}
            },
            {{/hasQueryParams}}
            {{#bodyParam}}
            body: {{#bodyParam}}{{paramName}}{{/bodyParam}},
            {{/bodyParam}}
            {{#formParams}}
            forms: {
                {{#formParams}}
                {{baseName}}: {{paramName}},
                {{/formParams}}
            },
            {{/formParams}}
            {{#headerParams}}
            headers: {
                {{#headerParams}}
                {{baseName}}: {{paramName}},
                {{/headerParams}}
            },
            {{/headerParams}}
        });
    }
{{/operation}}
}

/**
 * {{classname}} - instance
 */
export const {{classname}}Instance = new {{classname}}();

{{/operations}}{{/withSeparateModelsAndApi}}