export interface RestInfo {
    url: string,
    method: string,
    headers?: { [key: string]: any },
    forms?: { [key: string]: any },
    params?: { [key: string]: any },
    body?: any,
}



export function send<T>(req: RestInfo): Promise<T> {
    // implement your logic here
    throw new Error("Not implemented");
}
